/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.custom-file-upload {
    border: 2px solid #3498db;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #333333;
    color: #3498db;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #3498db;
    color: #ffffff;
}

button {
    background-color: #3498db;
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}


.audio-player {
    display: block;
    margin: 20px auto;
}

.loading-spinner {
    border: 16px solid #333; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.prediction-result {
    margin-top: 20px;
}

.prediction-result p {
    font-size: 1.2em;
    margin: 0;
}

.fake {
    font-weight: bold;
    color: #e74c3c; /* Red */
}

.not-fake {
    font-weight: bold;
    color: #2ecc71; /* Green */
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    .custom-file-upload, button {
        width: 100%;
        box-sizing: border-box;
    }

    .loading-spinner {
        width: 60px;
        height: 60px;
    }
}

.error-message {
    background-color: #e74c3c; /* Red */
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: none;
}
