<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio File Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Audio File Prediction</h1>
        <form id="upload-form" method="post" enctype="multipart/form-data">
            <label for="file" class="custom-file-upload">
                Choose File
                <input type="file" id="file" name="file" accept=".wav, .mp3" required>
            </label>
            <button type="submit">Predict</button>
        </form>
        
        <div id="progress-container" class="progress-container" style="display: none;">
            <div id="progress-bar" class="progress-bar"></div>
        </div>
        
        <div id="loading-spinner" class="loading-spinner" style="display: none;"></div>
        
        <audio id="audio-player" class="audio-player" controls style="display: none;">
            <source id="audio-source" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
        <div id="prediction-result" class="prediction-result" style="display: none;">
            <p>
                The prediction for the uploaded audio file is 
                <span id="prediction-label" class=""></span>
                with a confidence of <span id="confidence-label"></span>%.
            </p>
        </div>
    </div>
    
    <script>
        document.getElementById('file').addEventListener('change', function(event) {
            // Clear previous prediction
            document.getElementById('prediction-result').style.display = 'none';
            document.getElementById('prediction-label').className = '';
            document.getElementById('confidence-label').textContent = '';

            var file = event.target.files[0];
            if (file) {
                document.getElementById('audio-source').src = URL.createObjectURL(file);
                document.getElementById('audio-player').style.display = 'block';
                document.getElementById('audio-player').load();
            }
        });

        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('loading-spinner').style.display = 'block';
            document.getElementById('progress-container').style.display = 'block';
            const progressBar = document.getElementById('progress-bar');
            const interval = setInterval(() => {
                const width = parseFloat(progressBar.style.width) || 0;
                if (width >= 100) {
                    clearInterval(interval);
                } else {
                    progressBar.style.width = `${width + 5}%`;
                }
            }, 200);

            const formData = new FormData(this);
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                clearInterval(interval);
                progressBar.style.width = '100%';
                setTimeout(() => {
                    document.getElementById('progress-container').style.display = 'none';
                    document.getElementById('loading-spinner').style.display = 'none';
                }, 500);

                document.getElementById('prediction-result').style.display = 'block';
                document.getElementById('prediction-label').textContent = data.prediction;
                document.getElementById('confidence-label').textContent = data.confidence.toFixed(2);

                if (data.prediction === 'Fake') {
                    document.getElementById('prediction-label').className = 'fake';
                } else {
                    document.getElementById('prediction-label').className = 'not-fake';
                }
            })
            .catch(error => {
                clearInterval(interval);
                progressBar.style.width = '100%';
                setTimeout(() => {
                    document.getElementById('progress-container').style.display = 'none';
                    document.getElementById('loading-spinner').style.display = 'none';
                }, 500);
                console.error('Error:', error);
                document.getElementById('prediction-result').style.display = 'block';
                document.getElementById('prediction-label').textContent = 'Error';
                document.getElementById('confidence-label').textContent = '';
            });
        });
    </script>
</body>
</html>
